body{
  background-image: linear-gradient( black 0%, #923CB5 250% ) !important;
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
}
a{
  text-decoration: none;
}

td{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 80px;
}