@mixin text ($max, $min, $max-width) {
    @media (max-width: ($max-width * 1px)) {
        font-size: calc( ( #{$min} * 1px) + (#{$max} - #{$min}) * ((100vw - 320px) / (#{$max-width} - 320)));
    }
    @media (min-width: ($max-width * 1px + 1px)){
        font-size: $max * 1px;
    }
}

.home{
    &__container{
        padding: 0 20px;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__title{
        @include text(50, 41, 1200);
        text-align: center;
        margin-bottom: 30px;
    }
    &__your_organisations{
        margin-top: 50px;
    }
    
}

.your_organisations{
    &__cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
        div{
            height: max-content !important;
        }
    }
    
}

.featured{
    margin-top: 40px;
    &__title{
        margin-bottom: 20px;
    }
}