.organisations{
    &__container{
        padding: 0 20px;
        max-width: 1240px;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__greeting{
        max-width: 500px;
        margin-top: 25px;
    }
    &__text{
        margin-top: 20px;
    }
    &__featured{
        margin-top: 50px;
    }
    &__breadcrumbs{
        display: flex;
        flex-wrap: wrap;
    }
    &__your_organisations{
        margin-top: 50px;
    }
}

.your_organisations{
    &__cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
        div{
            height: max-content !important;
        }
    }
    
}

.featured{
    &__title{
        text-align: center;
    }
    &__cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 768px){
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 425px){
            grid-template-columns: 1fr;
        }
        div{
            height: max-content !important;
        }
    }
}