.register{
    &__container{
        padding: 0 20px;
        max-width: 1240px;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__body{
        display: flex;
        margin: 0px -10px;
        @media (max-width: 768px){
            flex-direction: column;
        }
        div{
            flex: 1 1 auto;
        }
        margin-top: 25px;
    }
    &__card{
        max-width: 400px;
        padding: 0px 10px;
    }
    &__breadcrumbs{
        display: flex;
        flex-wrap: wrap;
    }
}

.records{
    &__tabs{
        margin-top: 25px;
    }
    &__check{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        @media (max-width: 768px){
            grid-template-columns: 1fr;
            margin-top: 10px;
        }
    }
    &__title{
        margin-bottom: 25px;
        text-align: center;
        @media (max-width: 768px){
            margin-bottom: 25px;
            margin-top: 40px;
        }
    }
    &__link{
        display: block;
        padding: 0;
    }
    &__link_btn{
        margin-top: 10px;
        display: block;
    }
    &__record{
        padding: 25px;
        padding-left: 0;
    }
    &__result{
        max-width: 410px;
    }
}


.search{
    &__button{
        margin-left: 6px;
        margin-bottom: -35px;
        z-index: 10;
    }
}